---
import Header from "../components/Header.astro";

interface Props {
	title: string;
	urlToCSS: cssUrl;
	bgImageClass: string;
	activeNav: number;
}

type cssUrl = "../src/styles/homepage/homepage.css" 
| "../src/styles/destination/destination.css"
| "../src/styles/crew/crew.css"
| "../src/styles/technology/technology.css";

const {
	title = "Space Tourism",
	urlToCSS = "../src/styles/homepage/homepage.css",
	bgImageClass = "home-page",
	activeNav = 0,
} = Astro.props as Props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="stylesheet" href="../src/styles/main.css" />
		<link rel="stylesheet" href={urlToCSS} />

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
	</head>

	<body class={bgImageClass}>
		<Header activeEl={activeNav} />

		<slot />

		<footer></footer>
	</body>
</html>
